@import "modal.css";
header {
  border-top: 2px solid #ff6600;
}
header .logo-holder {
  position: absolute;
  float: left;
  background-color: #ffffff;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  margin: 0px 0 0 -30px;
  padding: 10px;
  z-index: 1000;
}
header .logo-holder img {
  margin: 40px 0 0 45px;
  width: 230px;
  height: 210px;
}
header .Top-Nav {
  background-color: #ffffff;
  height: 80px;
  float: left;
  display: inline-block;
  width: 100%;
  padding-top: 30px;
  padding-left: 300px;
  z-index: -1;
}
header .Top-Nav ul li {
  list-style-type: none;
  margin-left: 30px;
}
header .Top-Nav ul li a {
  text-decoration: none;
  color: #FF6600;
  float: left;
  display: inline-block;
  padding: 5px;
  margin-left: 80px;
}
header .Top-Nav ul li a:hover {
  border-bottom: 2px solid #ff6600;
}
header .Top-Nav ul .show-on-hover .show-on-hover:hover > ul.dropdown-menu {
  display: block;
}
header .Top-Nav .Btn_Login {
  background-color: #303675;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 20px;
  float: right;
  margin-right: 30px;
  margin-top: -15px;
}
header .Top-Nav .Btn_Reg {
  background-color: #ff6600;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 20px;
  float: right;
  margin-right: 200px;
  margin-top: -15px;
}
#Main_Activity {
  z-index: -1;
  background: url("../images/main_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  position: relative;
  top: 80px;
}
#Main_Activity .Image-holder {
  position: relative;
  float: left;
  z-index: -1;
  padding: 50px 30px 0 60px;
}
#Main_Activity .Image-holder .img-up {
  width: 1100px;
  position: absolute;
  top: -150px;
}
#Main_Activity .Info-holder {
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 100px;
}
#Main_Activity .Info-holder .logo-holder2 img {
  width: 600px;
  margin-top: 30px;
  position: relative;
  top: 53px;
  left: -100px;
  margin-bottom: 30px;
}
#Main_Activity .Info-holder .Latest_num {
  padding-top: 30px;
}
#Main_Activity .Info-holder .Latest_num span {
  font-size: 30px;
  margin-left: 90px;
}
#Main_Activity .Info-holder .Latest_num .Num_display ul li {
  float: left;
  text-align: center;
  list-style-type: none;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #000000;
  padding: 5px;
  font-weight: bold;
  font-size: 22px;
}
#Main_Activity .Info-holder .Btn_Play {
  margin: 30px 0 0 75px;
  padding: 20px 60px;
  color: #ffffff;
  font-size: 30px;
  background-color: #ff6600;
  border-radius: 5px;
  margin-right: 50px;
}
.Past_num {
  position: relative;
  float: left;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #ff6600;
  padding: 30px 50px;
}
.Past_num .Info_past {
  position: absolute;
  margin-left: 720px;
  float: left;
  color: #303675;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
}
.Past_num .PastNum-holder {
  float: left;
  margin: 80px 0 0 250px;
}
.Past_num .PastNum-holder .PastNum1 {
  float: left;
  width: 500px;
}
.Past_num .PastNum-holder .PastNum1 ul li {
  list-style-type: none;
  border: none;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ff6600;
}
.Past_num .PastNum-holder .PastNum1 ul li span {
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
}
.Past_num .PastNum-holder .PastNum1 ul li label {
  padding: 5px 10px 0 10px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
.Past_num .PastNum-holder .PastNum2 {
  float: left;
  width: 500px;
  margin-left: 200px;
}
.Past_num .PastNum-holder .PastNum2 ul li {
  list-style-type: none;
  border: none;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ff6600;
}
.Past_num .PastNum-holder .PastNum2 ul li span {
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
}
.Past_num .PastNum-holder .PastNum2 ul li label {
  padding: 5px 10px 0 10px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
footer .footer-content-holder {
  width: 100%;
  padding: 30px 50px;
  float: left;
  background-color: #555555;
  color: #ffffff;
  border-top: 3px solid #000000;
}
footer .footer-content-holder .footer-links-holder {
  float: left;
  position: relative;
  padding-bottom: 30px;
}
footer .footer-content-holder .footer-links-holder .footer-content-links {
  float: left;
  margin-left: 50px;
}
footer .footer-content-holder .footer-links-holder .footer-content-links ul li {
  list-style-type: none;
}
footer .footer-content-holder .footer-links-holder .footer-content-links ul li span {
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
}
footer .footer-content-holder .footer-links-holder .footer-content-links ul li a {
  text-decoration: none;
  font-weight: lighter;
  font-size: 12px;
  color: #ffffff;
}
footer .footer-content-holder .footer-links-holder .footer-content-links ul li a:hover {
  color: #ff6600;
  border-bottom: 1px solid #ff6600;
}
footer .footer-content-holder .footer-info {
  font-weight: bold;
  float: left;
  width: 100%;
  padding-left: 80px;
  position: relative;
}
footer .footer-content-holder .footer-info .social-info {
  float: left;
}
footer .footer-content-holder .footer-info .social-info ul li {
  list-style-type: none;
  font-size: 18px;
  margin-left: -30px;
}
footer .footer-content-holder .footer-info .social-info a {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  margin: 3px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-size: 1.5em;
}
footer .footer-content-holder .footer-info .social-info a:hover {
  color: #ff6600;
}
footer .footer-content-holder .footer-info .partners-info {
  float: left;
  margin-left: 50px;
  position: relative;
}
footer .footer-content-holder .footer-info .partners-info ul li {
  list-style-type: none;
  font-size: 18px;
}
#Contact_content {
  background: url("../images/map_static2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  position: relative;
  padding: 100px 0px;
  z-index: -1;
  float: left;
  width: 100%;
}
#Contact_content .contact-box {
  position: relative;
  float: left;
  left: 300px;
  top: 100px;
  bottom: 0px;
  width: 500px;
  opacity: 0.95;
  z-index: 1000;
  padding: 40px 40px;
  background-color: #303030;
  color: #ffffff;
  border-left: 10px solid #ff6600;
  border-radius: 10px;
}
#Contact_content .contact-box ul li {
  list-style-type: none;
  font-size: 20px;
  font-weight: lighter;
  padding: 5px;
  color: #989898;
}
#Contact_content .contact-box ul li strong {
  color: #ffffff;
  font-weight: lighter;
  font-size: 30px;
}
.Info_message {
  position: relative;
  left: 700px;
  top: -20px;
  padding: 10px;
  font-size: 38px;
  color: #000000;
  font-weight: bold;
  z-index: 1000;
}
.form-holder {
  position: relative;
  float: right;
  right: 100px;
  padding: 20px 0px;
  width: 50%;
  margin: 0px auto;
  z-index: 1000;
}
.form-holder form .form-group {
  opacity: 0.95;
}
.form-holder form .form-group .SideFloat {
  margin-bottom: 15px;
  float: left;
  width: 450px;
}
.form-holder form .form-group .SideFloatR {
  margin-bottom: 15px;
  float: right;
  width: 450px;
}
.form-holder form .form-group input {
  border: none;
  background-color: #F1F2F5;
  font-weight: lighter;
  text-transform: uppercase;
  height: 50px;
}
.form-holder form .form-group textarea {
  height: 250px;
  border: none;
  font-weight: lighter;
  background-color: #F1F2F5;
}
.form-holder .Btn_send {
  background-color: #ff6600;
  color: #ffffff;
  padding: 10px 20px;
}
#Play_Enel {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 700px;
  float: left;
  width: 100%;
}
#Play_Enel .Support_Info {
  font-size: 35px;
  padding-left: 400px;
  font-weight: bold;
}
#Play_Enel small {
  color: #ffffff;
  font-style: italic;
  font-weight: lighter;
  font-size: 16px;
  position: relative;
  float: left;
  padding-left: 400px;
}
#Play_Enel .All_BTN {
  float: left;
  position: relative;
  width: 80%;
  padding-left: 400px;
  padding-right: 100px;
}
#Play_Enel .All_BTN .Main_Ques {
  float: left;
  width: 100%;
  padding: 11px;
  text-align: left;
  font-size: 20px;
  border-radius: 5px;
  background-color: #ff6600;
  color: #ffffff;
  margin-bottom: 10px;
}
#Play_Enel .All_BTN .Main_Ques .fa-caret-down {
  float: right;
  position: relative;
  right: 20px;
  top: 5px;
}
#Play_Enel .All_BTN .Main_Ques .fa-caret-down:hover {
  cursor: pointer;
}
#Play_Enel .All_BTN .Main_Ques:hover {
  cursor: pointer;
}
#Play_Enel .All_BTN .collapse {
  margin: 10px 20px 5px 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f9f9f9;
  background-color: #ffffff;
}
#Play_Enel .All_BTN .collapse h3 {
  color: #ff6600;
  font-weight: bold;
  font-size: 25px;
}
#Play_Enel .All_BTN .collapse h5 {
  color: #ff6600;
}
#Play_Enel .All_BTN .Option1 {
  margin-top: ;
}
#Play_Enel .All_BTN .rules_Link {
  position: relative;
  text-decoration: none;
  background-color: #ff6600;
  color: #ffffff;
  top: 30px;
  padding: 5px 10px;
  border-radius: 5px;
}
#Play_Enel .All_BTN .rules_Link:hover {
  color: #ff6600;
  background-color: #ffffff;
}
.img-holder-care {
  float: right;
  z-index: 1000;
  position: absolute;
  top: 250px;
  left: 1100px;
}
.the_Faq {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 700px;
  float: left;
  width: 100%;
}
.the_Faq .Faq_Info {
  font-size: 35px;
  padding-left: 400px;
  font-weight: bold;
}
.the_Faq small {
  color: #ffffff;
  font-style: italic;
  font-weight: lighter;
  font-size: 16px;
  position: relative;
  float: left;
  padding-left: 400px;
}
.the_Faq .Faq_holder {
  float: left;
  position: relative;
  padding-left: 300px;
}
.the_Faq .Faq_holder .Faq_Left {
  float: left;
  position: relative;
  left: 100px;
  width: 600px;
}
.the_Faq .Faq_holder .Faq_Left .Main_Faq {
  color: #ffffff;
  font-size: 22px;
  padding-bottom: 30px;
}
.the_Faq .Faq_holder .Faq_Left .Main_Faq:hover {
  cursor: pointer;
}
.the_Faq .Faq_holder .Faq_Left .collapse {
  background-color: #ff6600;
  color: #ffffff;
  padding: 5px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-top: -20px;
  border-radius: 5px;
}
.the_Faq .Faq_holder .Faq_Right {
  float: left;
  position: relative;
  margin-left: 200px;
  width: 600px;
}
.the_Faq .Faq_holder .Faq_Right .Main_Faq {
  color: #ffffff;
  font-size: 22px;
  padding-bottom: 30px;
}
.the_Faq .Faq_holder .Faq_Right .Main_Faq:hover {
  cursor: pointer;
}
.the_Faq .Faq_holder .Faq_Right .collapse {
  background-color: #ff6600;
  color: #ffffff;
  padding: 5px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-top: -20px;
  border-radius: 5px;
}
.the_About {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 700px;
  float: left;
  width: 100%;
}
.the_About .About_Info {
  font-size: 35px;
  padding-left: 400px;
  font-weight: bold;
}
.the_About small {
  color: #ffffff;
  font-style: italic;
  font-weight: lighter;
  font-size: 16px;
  position: relative;
  float: left;
  padding-left: 400px;
}
.the_About .About_info_holder {
  float: left;
  position: relative;
}
.the_About .About_info_holder .About_Left {
  float: left;
  position: relative;
  left: 100px;
  width: 600px;
  font-size: 18px;
}
.the_About .About_info_holder .About_Left .Enel_brief {
  float: left;
  position: relative;
  top: 30px;
  left: -220px;
}
.the_About .About_info_holder .About_Left .About_Enel_Games {
  float: left;
  position: relative;
  top: 40px;
  left: -220px;
}
.the_About .About_info_holder .About_Left .About_Enel_Games h4 {
  color: #ff6600;
  font-size: 25px;
}
.the_About .About_info_holder .About_Left .About_Enel_Games .Game_name {
  float: left;
}
.the_About .About_info_holder .About_Left .About_Enel_Games p {
  float: left;
}
.the_About .About_info_holder .About_Left .Corporate_Social {
  float: left;
  position: relative;
  top: 40px;
  left: -220px;
}
.the_About .About_info_holder .About_Left .Reaching_platform {
  float: left;
  position: relative;
  top: 40px;
  left: -220px;
}
.the_About .About_info_holder .About_Right {
  float: left;
  position: fixed;
  padding-left: 300px;
  margin-left: 200px;
  width: 600px;
}
.the_About .About_info_holder .About_Right .img-holder-enugu {
  position: relative;
  padding: 5px;
  top: -100px;
}
.All_games {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 900px;
  float: left;
  width: 100%;
}
.All_games .Five_Star_holder {
  float: left;
  position: relative;
  left: 400px;
  top: 100px;
}
.All_games .Five_Star_holder .Game_Type {
  float: left;
  position: relative;
  background-color: #ff4d4d;
  border-radius: 10px;
  padding: 10px;
  top: -100px;
  width: 500px;
}
.All_games .Five_Star_holder .Game_Type .logo_holder {
  float: left;
  position: relative;
}
.All_games .Five_Star_holder .Game_Type .logo_holder img {
  width: 180px;
}
.All_games .Five_Star_holder .Game_Type .Game_name {
  margin-left: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 25px;
  color: #ffffff;
}
.All_games .Five_Star_holder .Game_Type span {
  position: relative;
  top: 15px;
  padding: 10px 50px;
  font-weight: bold;
  font-size: 18px;
  color: #ff0000;
}
.All_games .Five_Star_holder .Recent_results {
  position: relative;
  padding: 10px 50px;
  background-color: #ff4d4d;
  border-radius: 10px;
}
.All_games .Five_Star_holder .Recent_results .Info_text {
  position: relative;
  bottom: 25px;
  font-size: 25px;
  font-weight: bold;
}
.All_games .Five_Star_holder .Recent_results .result1 {
  padding: 30px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #ffffff;
  opacity: 0.9;
}
.All_games .Five_Star_holder .Recent_results .result1 .content_result {
  position: relative;
  bottom: 25px;
  opacity: 1.0;
}
.All_games .Five_Star_holder .Recent_results .result1 span {
  position: relative;
}
.All_games .Five_Star_holder .Recent_results .result1 ul li {
  float: left;
  position: relative;
  list-style-type: none;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #c7c7c7;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.All_games .Five_Star_holder .Recent_results .More_Text {
  position: relative;
  left: 150px;
  top: -10px;
}
.All_games .Six_Star_holder {
  float: right;
  position: relative;
  top: 100px;
  right: 400px;
}
.All_games .Six_Star_holder .Game_Type {
  float: left;
  position: relative;
  background-color: #ff6600;
  border-radius: 10px;
  top: -100px;
  padding: 10px;
  width: 500px;
}
.All_games .Six_Star_holder .Game_Type .logo_holder {
  float: left;
  position: relative;
}
.All_games .Six_Star_holder .Game_Type .logo_holder img {
  width: 180px;
}
.All_games .Six_Star_holder .Game_Type .Game_name {
  margin-left: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 25px;
  color: #ffffff;
}
.All_games .Six_Star_holder .Game_Type span {
  position: relative;
  top: 15px;
  padding: 10px 50px;
  font-weight: bold;
  font-size: 18px;
  color: #ff0000;
}
.All_games .Six_Star_holder .Recent_results {
  position: relative;
  padding: 10px 40px;
  background-color: #ff6600;
  border-radius: 10px;
}
.All_games .Six_Star_holder .Recent_results .Info_text {
  position: relative;
  bottom: 25px;
  font-size: 25px;
  font-weight: bold;
}
.All_games .Six_Star_holder .Recent_results .result1 {
  padding: 30px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #ffffff;
  opacity: 0.9;
}
.All_games .Six_Star_holder .Recent_results .result1 .content_result {
  position: relative;
  bottom: 25px;
  opacity: 1.0;
}
.All_games .Six_Star_holder .Recent_results .result1 span {
  position: relative;
}
.All_games .Six_Star_holder .Recent_results .result1 ul li {
  float: left;
  position: relative;
  list-style-type: none;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #c7c7c7;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.All_games .Six_Star_holder .Recent_results .More_Text {
  position: relative;
  left: 150px;
  top: -10px;
}
/*------------------------ -------------------------- */
.rules_holder {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  float: left;
  left: -400px;
  top: 50px;
  width: 1000px;
}
.Result_Details {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 700px;
  float: left;
  width: 100%;
}
.Result_Details .Draw-Info-holder {
  float: left;
  position: relative;
  padding: 10px 0px 20px 50px;
  left: 300px;
}
.Result_Details .Draw-Info-holder .game-logo-holder {
  float: left;
  position: relative;
  left: 50px;
  top: 10px;
}
.Result_Details .Draw-Info-holder .game-logo-holder img {
  width: 180px;
  height: 100px;
}
.Result_Details .Draw-Info-holder .draw-details-holder {
  float: left;
  position: relative;
  padding-left: 20px;
  padding-top: -5px;
}
.Result_Details .Draw-Info-holder .draw-details-holder ul .Main_Info {
  font-size: 30px;
  font-weight: bold;
}
.Result_Details .Draw-Info-holder .draw-details-holder ul li {
  list-style-type: none;
  padding: 5px 0px;
}
.Result_Details .detail-toggle {
  float: left;
  position: relative;
  width: 600px;
  padding: 20px;
  top: 120px;
  left: -200px;
  border-bottom: 2px solid red;
}
.Result_Details .detail-toggle ul li {
  list-style-type: none;
  float: left;
  position: relative;
  display: inline-block;
  font-size: 16px;
  margin-left: 3px;
  left: -50px;
}
.Result_Details .detail-toggle ul li a {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
.Result_Details .detail-toggle ul li a:hover {
  background-color: #ff6600;
  color: #ffffff;
}
.Result_Details .detail-toggle ul a:active {
  background-color: #ff6600;
  color: #ffffff;
}
.Result_Details .Winning-num-holder {
  float: left;
  position: relative;
  width: 550px;
  left: -800px;
  top: 220px;
  padding: 30px;
  background-color: #ff6600;
  border-radius: 10px;
}
.Result_Details .Winning-num-holder span {
  float: left;
  font-size: 20px;
  font-weight: bold;
}
.Result_Details .Winning-num-holder .Num_detail-holder {
  float: left;
  position: relative;
}
.Result_Details .Winning-num-holder .Num_detail-holder span {
  float: left;
  font-size: 25px;
  position: relative;
  padding: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  font-weight: bold;
  margin: 5px;
}
.Result_Details .Past-winners {
  border-radius: 10px;
  float: right;
  position: relative;
  left: -400px;
  width: 300px;
  height: 400px;
}
.Result_Details .Past-winners .Other_Info {
  background-color: #ff0000;
  position: relative;
  padding: 20px;
  width: 350px;
  height: 250px;
  margin-bottom: 20px;
  text-align: center;
}
.Result_Details .Past-winners .Other_Info .BannerTop {
  text-decoration: none;
}
.Result_Details .Past-winners .Other_Info .BannerTop .banner_Info {
  padding: 5px;
  text-align: center;
}
.Result_Details .Past-winners .Other_Info .BannerTop .banner_Info .Banner_Top_text {
  font-size: 18px;
  position: relative;
  color: #000000;
  margin-left: -150px;
}
.Result_Details .Past-winners .Other_Info .BannerTop .banner_Info .BText_Huge {
  text-align: center;
  color: #000000;
  font-size: 60px;
  position: relative;
  top: -15px;
}
.Result_Details .Past-winners .Other_Info .BannerTop .banner_Info .Extra_Info {
  font-size: 14px;
  color: #000000;
  position: relative;
  top: -25px;
  left: -40px;
}
.Result_Details .Past-winners .Other_Info .BannerTop .banner_Info i {
  padding: 20px 40px;
  opacity: 0.8;
  border-radius: 2px;
  background-color: #ffffff;
  color: #ff6600;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top: 20px;
}
.Result_Details .Past-winners .Other_Info .BannerTop .banner_Info i:hover {
  color: #ffffff;
  background-color: #ff0000;
  opacity: 1.0;
  border: 1px solid #ffffff;
}
.Result_Details .Past-winners .Other_Info .banner_Info:hover {
  color: #ffffff;
}
.Result_Details .bottom-Info {
  float: left;
  position: relative;
  top: 250px;
  left: 400px;
  width: 700px;
}
.Result_Details .bottom-Info .Claim_Btn {
  position: relative;
  top: -10px;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 15px;
  background-color: #ff0000;
  border-radius: 5px;
}
#Claim_price {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 850px;
  float: left;
  width: 100%;
}
#Claim_price .Support_Info {
  font-size: 35px;
  padding-left: 400px;
  font-weight: bold;
}
#Claim_price .Gen_Claim {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  float: left;
  padding-right: 100px;
  left: 400px;
  width: 900px;
}
#Claim_price .Sub_Claim1 {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  float: left;
  padding-right: 100px;
  left: -500px;
  top: 300px;
  width: 900px;
}
#Claim_price .Claim_BTN {
  float: left;
  position: relative;
  width: 1000px;
  top: 320px;
  left: -500px;
  padding-right: 100px;
}
#Claim_price .Claim_BTN .Claim_Ans {
  float: left;
  width: 100%;
  padding: 10px;
  text-align: left;
  font-size: 20px;
  border-radius: 5px;
  background-color: #ff6600;
  color: #ffffff;
  margin-bottom: 10px;
}
#Claim_price .Claim_BTN .Claim_Ans .fa-trophy {
  float: right;
  position: relative;
  right: 20px;
  top: 5px;
  font-size: 45px;
  padding: 10px;
}
#Claim_price .Claim_BTN .Claim_Ans .Claim_Ans:hover {
  cursor: pointer;
}
#Claim_price .Claim_BTN .Claim_Ans .collapse {
  margin: 10px 20px 5px 20px;
  padding: 10px;
  border-radius: 5px;
}
#Claim_price .Claim_BTN .Claim_Ans .collapse h3 {
  color: #ff6600;
  font-weight: bold;
  font-size: 25px;
}
#Claim_price .Claim_BTN .Claim_Ans .collapse h5 {
  color: #ff6600;
}
#Claim_price .Claim_BTN .Claim_Ans .Option1 {
  margin-top: ;
}
#Claim_price .Claim_BTN .Claim_Ans .rules_Link {
  position: relative;
  text-decoration: none;
  background-color: #ff6600;
  color: #ffffff;
  top: 30px;
  padding: 5px 10px;
  border-radius: 5px;
}
#Claim_price .Claim_BTN .Claim_Ans .rules_Link:hover {
  color: #ff6600;
  background-color: #ffffff;
}
.Result_Details {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 50px 0px;
  float: left;
  width: 100%;
}
.Result_Details .price-table-holder {
  width: 70%;
  padding-left: 400px;
  padding-top: 220px;
}
.Result_Details .price-table-holder .custom-table .Result-head {
  background-color: #303030;
  padding: 30px 20px;
}
.Result_Details .price-table-holder .custom-table .Result-head tr th {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
.Result_Details .price-table-holder .custom-table .Result_body {
  background-color: #ffffff;
}
.Result_Details .price-table-holder .custom-table .Result_body .Month_head {
  font-size: 14px;
}
.Result_Details .price-table-holder .custom-table .Result_body .total_row {
  font-weight: bolder;
  font-size: 18px;
}
.Result_Details .price-table-holder .custom-table .Result_body tr td {
  padding-bottom: 20px;
  padding-top: 20px;
}
.Result_Details .price-table-holder .custom-table .Result_body tr td span {
  padding: 15px;
  background-color: #ff6600;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  margin-left: 10px;
}
.Banner_Long {
  border-radius: 10px;
  float: right;
  position: relative;
  top: -500px;
  left: -200px;
  width: 300px;
  height: 400px;
}
.Banner_Long .Info_Long {
  background-color: #ff0000;
  position: relative;
  padding: 20px;
  width: 350px;
  height: 500px;
  margin-bottom: 20px;
  text-align: center;
}
.Banner_Long .Info_Long .BannerTop {
  text-decoration: none;
}
.Banner_Long .Info_Long .BannerTop .banner_Info {
  padding: 5px;
  text-align: center;
}
.Banner_Long .Info_Long .BannerTop .banner_Info .Banner_Top_text {
  font-size: 18px;
  position: relative;
  color: #000000;
  margin-left: -150px;
}
.Banner_Long .Info_Long .BannerTop .banner_Info .BText_Huge {
  text-align: center;
  color: #000000;
  font-size: 60px;
  position: relative;
  top: -15px;
}
.Banner_Long .Info_Long .BannerTop .banner_Info .Extra_Info {
  font-size: 14px;
  color: #000000;
  position: relative;
  top: -25px;
  left: -40px;
}
.Banner_Long .Info_Long .BannerTop .banner_Info i {
  padding: 20px 40px;
  opacity: 0.8;
  border-radius: 2px;
  background-color: #ffffff;
  color: #ff6600;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top: 30px;
}
.Banner_Long .Info_Long .BannerTop .banner_Info i:hover {
  color: #ffffff;
  background-color: #ff0000;
  opacity: 1.0;
  border: 1px solid #ffffff;
}
.Banner_Long .Info_Long .banner_Info:hover {
  color: #ffffff;
}
.bottom-Info-Price {
  float: left;
  position: relative;
  top: -10px;
  left: 400px;
  width: 700px;
}
.bottom-Info-Price .Claim_Btn {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 15px;
  background-color: #ff0000;
  border-radius: 5px;
}
.News_All {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 700px;
  float: left;
  width: 100%;
}
.News_All .container .breadcrumb {
  background-color: transparent;
}
.News_All .container .breadcrumb li a {
  color: #ff6600;
}
.News_All .container .News_section {
  width: 100%;
  font-size: 30px;
  font-weight: 100;
  float: left;
  position: relative;
  padding-bottom: 20px;
}
.News_All .container .News_section h4 {
  float: left;
}
.News_All .container .News_section .date_posted {
  float: left;
  font-size: 12px;
}
.article_body {
  font-size: 16px;
  font-weight: 200;
}
.Enel_Games {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 700px;
  float: left;
  width: 100%;
}
.Enel_Games .Lotto_Game .Six_star {
  float: left;
  text-align: center;
  position: relative;
  top: 50px;
  left: 400px;
  width: 300px;
  margin-right: 50px;
  border-radius: 10px;
  padding: 80px 50px;
  color: #000000;
  background-color: #ffffff;
}
.Enel_Games .Lotto_Game .Six_star .game_logo {
  float: left;
  position: relative;
  top: -20px;
  padding-right: 50px;
  padding-left: 0px;
}
.Enel_Games .Lotto_Game .Six_star .game_logo img {
  width: 180px;
  height: 100px;
}
.Enel_Games .Lotto_Game .Six_star .games_des {
  font-size: 16px;
  width: 200px;
}
.Enel_Games .Lotto_Game .Six_star:hover {
  background-color: #FF6600;
  color: #ffffff;
}
.Enel_Games .Five_star {
  float: left;
  position: relative;
  text-align: center;
  top: 50px;
  left: 400px;
  width: 300px;
  border-radius: 10px;
  margin-right: 50px;
  padding: 80px 50px;
  color: #000000;
  background-color: #ffffff;
}
.Enel_Games .Five_star .game_logo {
  float: left;
  position: relative;
  top: -20px;
  padding-right: 50px;
  padding-left: 0px;
}
.Enel_Games .Five_star .game_logo img {
  width: 180px;
  height: 100px;
}
.Enel_Games .Five_star .games_des {
  font-size: 16px;
  width: 200px;
}
.Enel_Games .Five_star:hover {
  background-color: #ff4d4d;
  color: #ffffff;
}
.Enel_Games .New_Star {
  float: left;
  position: relative;
  text-align: center;
  top: 50px;
  left: 400px;
  width: 300px;
  border-radius: 10px;
  padding: 124px 50px;
  color: #ffffff;
  background-color: #333333;
  opacity: 0.7;
}
.Enel_Games .New_Star .game_logo {
  float: left;
  position: relative;
  top: -20px;
  padding-right: 50px;
  padding-left: 0px;
}
.Enel_Games .New_Star .game_logo img {
  width: 180px;
  height: 100px;
}
.Enel_Games .New_Star .games_des {
  font-size: 16px;
  width: 200px;
}
.Five_Star_Game {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 700px;
  float: left;
  width: 100%;
}
.Five_Star_Game .Game_Type {
  float: left;
  position: relative;
  background-color: #FF4D4D;
  border-radius: 10px;
  padding: 30px;
  left: 400px;
  width: 500px;
}
.Five_Star_Game .Game_Type .logo_holder {
  float: left;
  position: relative;
}
.Five_Star_Game .Game_Type .logo_holder img {
  width: 180px;
}
.Five_Star_Game .Game_Type .Game_name {
  margin-left: 50px;
  font-size: 25px;
}
.Five_Star_Game .Game_Type span {
  position: relative;
  top: 15px;
  padding: 10px 50px;
  font-weight: bold;
  font-size: 18px;
  color: #ff0000;
}
.Five_Star_Game .game_rules {
  float: left;
  position: relative;
  top: 150px;
  left: -100px;
  width: 500px;
  padding: 20px 20px 40px 20px;
  background-color: #ffffff;
  border-radius: 10px;
}
.Five_Star_Game .game_rules h3 {
  color: #333333;
  font-weight: 400;
}
.Five_Star_Game .last_results {
  float: right;
  position: relative;
  padding: 50px 50px;
  left: -450px;
  background-color: #FF4D4D;
  border-radius: 10px;
}
.Five_Star_Game .last_results .Info_text {
  position: relative;
  bottom: 25px;
  font-size: 25px;
  font-weight: bold;
}
.Five_Star_Game .last_results .result1 {
  padding: 40px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #ffffff;
  opacity: 0.9;
}
.Five_Star_Game .last_results .result1 .content_result {
  position: relative;
  bottom: 25px;
  opacity: 1.0;
}
.Five_Star_Game .last_results .result1 span {
  position: relative;
}
.Five_Star_Game .last_results .result1 ul li {
  float: left;
  position: relative;
  list-style-type: none;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #c7c7c7;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.Five_Star_Game .last_results .More_Text {
  position: relative;
  left: 120px;
  top: 10px;
}
.Five_Star_Game .last_results .More_Text a {
  text-decoration: none;
}
.Result_Big {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 700px;
  float: left;
  width: 100%;
}
.Result_Big .Result_logo_text {
  float: left;
  position: relative;
}
.Result_Big .Result_logo_text .Game_logo {
  position: relative;
  float: left;
  left: 380px;
  top: -10px;
}
.Result_Big .Result_logo_text .history_text {
  font-size: 35px;
  padding-left: 350px;
  font-weight: bold;
  float: left;
  position: relative;
}
.Result_Big .result_table {
  width: 70%;
  padding-left: 400px;
}
.Result_Big .result_table .custom-table .Result-head {
  background-color: #303030;
  padding: 30px 20px;
}
.Result_Big .result_table .custom-table .Result-head tr th {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
.Result_Big .result_table .custom-table .Result_body {
  background-color: #ffffff;
}
.Result_Big .result_table .custom-table .Result_body .Month_head {
  font-size: 14px;
}
.Result_Big .result_table .custom-table .Result_body tr td {
  padding-bottom: 20px;
  padding-top: 20px;
}
.Result_Big .result_table .custom-table .Result_body tr td span {
  padding: 15px;
  background-color: #ff6600;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  margin-left: 10px;
}
.Mth_Display {
  margin-right: 100%;
  font-weight: bold;
  font-size: 18px;
}
.Result_Big {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 700px;
  float: left;
  width: 100%;
}
.Result_Big .Result_logo_text {
  float: left;
  position: relative;
}
.Result_Big .Result_logo_text .Game_logo {
  position: relative;
  float: left;
  left: 380px;
  top: -10px;
}
.Result_Big .Result_logo_text .history_text {
  font-size: 35px;
  padding-left: 350px;
  font-weight: bold;
  float: left;
  position: relative;
}
.Result_Big .result_table {
  width: 70%;
  padding-left: 400px;
}
.Result_Big .result_table .custom-table .Result-head {
  background-color: #303030;
  padding: 30px 20px;
}
.Result_Big .result_table .custom-table .Result-head tr th {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
.Result_Big .result_table .custom-table .Result_body_five {
  background-color: #ffffff;
}
.Result_Big .result_table .custom-table .Result_body_five .Month_head {
  font-size: 14px;
}
.Result_Big .result_table .custom-table .Result_body_five tr td {
  padding-bottom: 20px;
  padding-top: 20px;
}
.Result_Big .result_table .custom-table .Result_body_five tr td span {
  padding: 15px;
  background-color: #FF4D4D;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  margin-left: 10px;
}
.Mth_Display {
  margin-right: 100%;
  font-weight: bold;
  font-size: 18px;
}
.Six_Star_Game {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 700px;
  float: left;
  width: 100%;
}
.Six_Star_Game .Game_Type {
  float: left;
  position: relative;
  background-color: #ff6600;
  border-radius: 10px;
  padding: 30px;
  left: 400px;
  width: 500px;
}
.Six_Star_Game .Game_Type .logo_holder {
  float: left;
  position: relative;
}
.Six_Star_Game .Game_Type .logo_holder img {
  width: 180px;
}
.Six_Star_Game .Game_Type .Game_name {
  margin-left: 50px;
  font-size: 25px;
}
.Six_Star_Game .Game_Type span {
  position: relative;
  top: 15px;
  padding: 10px 50px;
  font-weight: bold;
  font-size: 18px;
  color: #ff0000;
}
.Six_Star_Game .game_rules {
  float: left;
  position: relative;
  top: 150px;
  left: -100px;
  width: 500px;
  padding: 20px 20px 40px 20px;
  background-color: #ffffff;
  border-radius: 10px;
}
.Six_Star_Game .game_rules h3 {
  color: #333333;
  font-weight: 400;
}
.Six_Star_Game .last_results {
  float: right;
  position: relative;
  padding: 50px 50px;
  left: -450px;
  background-color: #ff6600;
  border-radius: 10px;
}
.Six_Star_Game .last_results .Info_text {
  position: relative;
  bottom: 25px;
  font-size: 25px;
  font-weight: bold;
}
.Six_Star_Game .last_results .result1 {
  padding: 40px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #ffffff;
  opacity: 0.9;
}
.Six_Star_Game .last_results .result1 .content_result {
  position: relative;
  bottom: 25px;
  opacity: 1.0;
}
.Six_Star_Game .last_results .result1 span {
  position: relative;
}
.Six_Star_Game .last_results .result1 ul li {
  float: left;
  position: relative;
  list-style-type: none;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #c7c7c7;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.Six_Star_Game .last_results .More_Text {
  position: relative;
  left: 150px;
  top: 10px;
}
.Result_Details_FiveLotto {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 50px 0px;
  min-height: 600px;
  float: left;
  width: 100%;
}
.Result_Details_FiveLotto .Draw-Info-holder {
  float: left;
  position: relative;
  padding: 10px 0px 20px 50px;
  left: 300px;
}
.Result_Details_FiveLotto .Draw-Info-holder .game-logo-holder {
  float: left;
  position: relative;
  left: 50px;
  top: 10px;
}
.Result_Details_FiveLotto .Draw-Info-holder .game-logo-holder img {
  width: 180px;
  height: 100px;
}
.Result_Details_FiveLotto .Draw-Info-holder .draw-details-holder {
  float: left;
  position: relative;
  padding-left: 20px;
  padding-top: -5px;
}
.Result_Details_FiveLotto .Draw-Info-holder .draw-details-holder ul .Main_Info {
  font-size: 30px;
  font-weight: bold;
}
.Result_Details_FiveLotto .Draw-Info-holder .draw-details-holder ul li {
  list-style-type: none;
  padding: 5px 0px;
}
.Result_Details_FiveLotto .detail-toggle {
  float: left;
  position: relative;
  width: 600px;
  padding: 20px;
  top: 120px;
  left: -200px;
  border-bottom: 2px solid red;
}
.Result_Details_FiveLotto .detail-toggle ul li {
  list-style-type: none;
  float: left;
  position: relative;
  display: inline-block;
  font-size: 16px;
  margin-left: 3px;
  left: -50px;
}
.Result_Details_FiveLotto .detail-toggle ul li a {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
.Result_Details_FiveLotto .detail-toggle ul li a:hover {
  background-color: #ff4d4d;
  color: #ffffff;
}
.Result_Details_FiveLotto .detail-toggle ul li:active {
  background-color: #ff4d4d;
  color: #ffffff;
}
.Result_Details_FiveLotto .Winning-num-holder {
  float: left;
  position: relative;
  width: 550px;
  left: -800px;
  top: 220px;
  padding: 30px;
  background-color: #ff4d4d;
  border-radius: 10px;
}
.Result_Details_FiveLotto .Winning-num-holder span {
  float: left;
  font-size: 20px;
  font-weight: bold;
}
.Result_Details_FiveLotto .Winning-num-holder .Num_detail-holder {
  float: left;
  position: relative;
}
.Result_Details_FiveLotto .Winning-num-holder .Num_detail-holder span {
  float: left;
  font-size: 25px;
  position: relative;
  padding: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  font-weight: bold;
  margin: 5px;
}
.Result_Details_FiveLotto .Past-winners {
  border-radius: 10px;
  float: right;
  position: relative;
  left: -400px;
  width: 300px;
  height: 400px;
}
.Result_Details_FiveLotto .Past-winners .Other_Info {
  background-color: #ff0000;
  position: relative;
  padding: 20px;
  width: 350px;
  height: 250px;
  margin-bottom: 20px;
  text-align: center;
}
.Result_Details_FiveLotto .Past-winners .Other_Info .BannerTop {
  text-decoration: none;
}
.Result_Details_FiveLotto .Past-winners .Other_Info .BannerTop .banner_Info {
  padding: 5px;
  text-align: center;
}
.Result_Details_FiveLotto .Past-winners .Other_Info .BannerTop .banner_Info .Banner_Top_text {
  font-size: 18px;
  position: relative;
  color: #000000;
  margin-left: -150px;
}
.Result_Details_FiveLotto .Past-winners .Other_Info .BannerTop .banner_Info .BText_Huge {
  text-align: center;
  color: #000000;
  font-size: 60px;
  position: relative;
  top: -15px;
}
.Result_Details_FiveLotto .Past-winners .Other_Info .BannerTop .banner_Info .Extra_Info {
  font-size: 14px;
  color: #000000;
  position: relative;
  top: -25px;
  left: -40px;
}
.Result_Details_FiveLotto .Past-winners .Other_Info .BannerTop .banner_Info i {
  padding: 20px 40px;
  opacity: 0.8;
  border-radius: 2px;
  background-color: #ffffff;
  color: #ff6600;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top: 20px;
}
.Result_Details_FiveLotto .Past-winners .Other_Info .BannerTop .banner_Info i:hover {
  color: #ffffff;
  background-color: #ff0000;
  opacity: 1.0;
  border: 1px solid #ffffff;
}
.Result_Details_FiveLotto .Past-winners .Other_Info .banner_Info:hover {
  color: #ffffff;
}
.Result_Details_FiveLotto .bottom-Info {
  float: left;
  position: relative;
  top: 250px;
  left: 400px;
  width: 700px;
}
.Result_Details_FiveLotto .bottom-Info .Claim_Btn {
  position: relative;
  top: -10px;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 15px;
  background-color: #ff0000;
  border-radius: 5px;
}
.Result_Details_FivePrice {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 50px 0px;
  float: left;
  width: 100%;
}
.Result_Details_FivePrice .Draw-Info-holder {
  float: left;
  position: relative;
  padding: 10px 0px 20px 50px;
  left: 300px;
}
.Result_Details_FivePrice .Draw-Info-holder .game-logo-holder {
  float: left;
  position: relative;
  left: 50px;
  top: 10px;
}
.Result_Details_FivePrice .Draw-Info-holder .game-logo-holder img {
  width: 180px;
  height: 100px;
}
.Result_Details_FivePrice .Draw-Info-holder .draw-details-holder {
  float: left;
  position: relative;
  padding-left: 20px;
  padding-top: -5px;
}
.Result_Details_FivePrice .Draw-Info-holder .draw-details-holder ul .Main_Info {
  font-size: 30px;
  font-weight: bold;
}
.Result_Details_FivePrice .Draw-Info-holder .draw-details-holder ul li {
  list-style-type: none;
  padding: 5px 0px;
}
.Result_Details_FivePrice .detail-toggle {
  float: left;
  position: relative;
  width: 600px;
  padding: 20px;
  top: 120px;
  left: -200px;
  border-bottom: 2px solid red;
}
.Result_Details_FivePrice .detail-toggle ul li {
  list-style-type: none;
  float: left;
  position: relative;
  display: inline-block;
  font-size: 16px;
  margin-left: 3px;
  left: -50px;
}
.Result_Details_FivePrice .detail-toggle ul li a {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
.Result_Details_FivePrice .detail-toggle ul li a:hover {
  background-color: #ff4d4d;
  color: #ffffff;
}
.Result_Details_FivePrice .detail-toggle ul li:active {
  background-color: #ff4d4d;
  color: #ffffff;
}
.Result_Details_FivePrice .price-table-holder {
  width: 70%;
  padding-left: 400px;
  padding-top: 220px;
}
.Result_Details_FivePrice .price-table-holder .custom-table .Result-head {
  background-color: #303030;
  padding: 30px 20px;
}
.Result_Details_FivePrice .price-table-holder .custom-table .Result-head tr th {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
.Result_Details_FivePrice .price-table-holder .custom-table .Result_body {
  background-color: #ffffff;
}
.Result_Details_FivePrice .price-table-holder .custom-table .Result_body .Month_head {
  font-size: 14px;
}
.Result_Details_FivePrice .price-table-holder .custom-table .Result_body .total_row {
  font-weight: bolder;
  font-size: 18px;
}
.Result_Details_FivePrice .price-table-holder .custom-table .Result_body tr td {
  padding-bottom: 20px;
  padding-top: 20px;
}
.Result_Details_FivePrice .price-table-holder .custom-table .Result_body tr td span {
  padding: 15px;
  background-color: #ff6600;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  margin-left: 10px;
}
.Banner_Long {
  border-radius: 10px;
  float: right;
  position: relative;
  top: -500px;
  left: -200px;
  width: 300px;
  height: 400px;
}
.Banner_Long .Info_Long {
  background-color: #ff0000;
  position: relative;
  padding: 20px;
  width: 350px;
  height: 500px;
  margin-bottom: 20px;
  text-align: center;
}
.Banner_Long .Info_Long .BannerTop {
  text-decoration: none;
}
.Banner_Long .Info_Long .BannerTop .banner_Info {
  padding: 5px;
  text-align: center;
}
.Banner_Long .Info_Long .BannerTop .banner_Info .Banner_Top_text {
  font-size: 18px;
  position: relative;
  color: #000000;
  margin-left: -150px;
}
.Banner_Long .Info_Long .BannerTop .banner_Info .BText_Huge {
  text-align: center;
  color: #000000;
  font-size: 60px;
  position: relative;
  top: -15px;
}
.Banner_Long .Info_Long .BannerTop .banner_Info .Extra_Info {
  font-size: 14px;
  color: #000000;
  position: relative;
  top: -25px;
  left: -40px;
}
.Banner_Long .Info_Long .BannerTop .banner_Info i {
  padding: 20px 40px;
  opacity: 0.8;
  border-radius: 2px;
  background-color: #ffffff;
  color: #ff6600;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top: 30px;
}
.Banner_Long .Info_Long .BannerTop .banner_Info i:hover {
  color: #ffffff;
  background-color: #ff0000;
  opacity: 1.0;
  border: 1px solid #ffffff ff;
}
.Banner_Long .Info_Long .banner_Info:hover {
  color: #ffffff;
}
.bottom-Info-Price {
  float: left;
  position: relative;
  top: -10px;
  left: 400px;
  width: 700px;
}
.bottom-Info-Price .Claim_Btn {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 15px;
  background-color: #ff0000;
  border-radius: 5px;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('fonts/Lato-Regular.ttf');
  src: url('fonts/Lato-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
