@import "modal.css";
header {
  border-top: 2px solid #ff6600;
}
header .logo-holder {
  position: absolute;
  float: left;
  background-color: #ffffff;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  margin: 0px 0 0 -30px;
  padding: 10px;
  z-index: 1000;
}
header .logo-holder img {
  margin: 40px 0 0 45px;
  width: 230px;
  height: 210px;
}
header .Top-Nav {
  background-color: #ffffff;
  height: 80px;
  float: left;
  display: inline-block;
  width: 100%;
  padding-top: 30px;
  padding-left: 300px;
  z-index: -1;
}
header .Top-Nav ul li {
  list-style-type: none;
  margin-left: 30px;
}
header .Top-Nav ul li a {
  text-decoration: none;
  color: #FF6600;
  float: left;
  display: inline-block;
  padding: 5px;
  margin-left: 80px;
}
header .Top-Nav ul li a:hover {
  border-bottom: 2px solid #ff6600;
}
header .Top-Nav .Btn_Login {
  background-color: #303675;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 20px;
  float: right;
  margin-right: 30px;
  margin-top: -15px;
}
header .Top-Nav .Btn_Reg {
  background-color: #ff6600;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 20px;
  float: right;
  margin-right: 200px;
  margin-top: -15px;
}
#Main_Activity {
  z-index: -1;
  background: url("../images/main_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  position: relative;
  top: 80px;
}
#Main_Activity .Image-holder {
  position: relative;
  float: left;
  z-index: -1;
  padding: 50px 30px 0 60px;
}
#Main_Activity .Image-holder .img-up {
  width: 1100px;
  position: absolute;
  top: -150px;
}
#Main_Activity .Info-holder {
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 100px;
}
#Main_Activity .Info-holder .logo-holder2 img {
  width: 600px;
  margin-top: 30px;
  position: relative;
  top: 53px;
  left: -100px;
  margin-bottom: 30px;
}
#Main_Activity .Info-holder .Latest_num {
  padding-top: 30px;
}
#Main_Activity .Info-holder .Latest_num span {
  font-size: 30px;
  margin-left: 90px;
}
#Main_Activity .Info-holder .Latest_num .Num_display ul li {
  float: left;
  text-align: center;
  list-style-type: none;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #000000;
  padding: 5px;
  font-weight: bold;
  font-size: 22px;
}
#Main_Activity .Info-holder .Btn_Play {
  margin: 30px 0 0 75px;
  padding: 20px 60px;
  color: #ffffff;
  font-size: 30px;
  background-color: #ff6600;
  border-radius: 5px;
  margin-right: 50px;
}
.Past_num {
  position: relative;
  float: left;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #ff6600;
  padding: 30px 50px;
}
.Past_num .Info_past {
  position: absolute;
  margin-left: 720px;
  float: left;
  color: #303675;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
}
.Past_num .PastNum-holder {
  float: left;
  margin: 80px 0 0 250px;
}
.Past_num .PastNum-holder .PastNum1 {
  float: left;
  width: 500px;
}
.Past_num .PastNum-holder .PastNum1 ul li {
  list-style-type: none;
  border: none;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ff6600;
}
.Past_num .PastNum-holder .PastNum1 ul li span {
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
}
.Past_num .PastNum-holder .PastNum1 ul li label {
  padding: 5px 10px 0 10px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
.Past_num .PastNum-holder .PastNum2 {
  float: left;
  width: 500px;
  margin-left: 200px;
}
.Past_num .PastNum-holder .PastNum2 ul li {
  list-style-type: none;
  border: none;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ff6600;
}
.Past_num .PastNum-holder .PastNum2 ul li span {
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
}
.Past_num .PastNum-holder .PastNum2 ul li label {
  padding: 5px 10px 0 10px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
footer .footer-content-holder {
  width: 100%;
  padding: 30px 50px;
  float: left;
  background-color: #555555;
  color: #ffffff;
  border-top: 3px solid #000000;
}
footer .footer-content-holder .footer-links-holder {
  float: left;
  position: relative;
  padding-bottom: 30px;
}
footer .footer-content-holder .footer-links-holder .footer-content-links {
  float: left;
  margin-left: 50px;
}
footer .footer-content-holder .footer-links-holder .footer-content-links ul li {
  list-style-type: none;
}
footer .footer-content-holder .footer-links-holder .footer-content-links ul li span {
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
}
footer .footer-content-holder .footer-links-holder .footer-content-links ul li a {
  text-decoration: none;
  font-weight: lighter;
  font-size: 12px;
  color: #ffffff;
}
footer .footer-content-holder .footer-links-holder .footer-content-links ul li a:hover {
  color: #ff6600;
  border-bottom: 1px solid #ff6600;
}
footer .footer-content-holder .footer-info {
  font-weight: bold;
  float: left;
  width: 100%;
  padding-left: 80px;
  position: relative;
}
footer .footer-content-holder .footer-info .social-info {
  float: left;
}
footer .footer-content-holder .footer-info .social-info ul li {
  list-style-type: none;
  font-size: 18px;
  margin-left: -30px;
}
footer .footer-content-holder .footer-info .social-info a {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  margin: 3px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-size: 1.5em;
}
footer .footer-content-holder .footer-info .social-info a:hover {
  color: #ff6600;
}
footer .footer-content-holder .footer-info .partners-info {
  float: left;
  margin-left: 50px;
  position: relative;
}
footer .footer-content-holder .footer-info .partners-info ul li {
  list-style-type: none;
  font-size: 18px;
}
#Contact_content {
  position: relative;
}
#Contact_content .contact-box {
  position: relative;
  float: left;
  top: -500px;
  left: 700px;
  opacity: 0.95;
  z-index: 1000;
  padding: 20px 40px;
  background-color: #303030;
  color: #ffffff;
  border-left: 10px solid #ff6600;
  border-radius: 10px;
}
#Contact_content .contact-box ul li {
  list-style-type: none;
  font-size: 20px;
  font-weight: lighter;
  padding: 5px;
  color: #989898;
}
#Contact_content .contact-box ul li strong {
  color: #ffffff;
  font-weight: lighter;
  font-size: 30px;
}
.message-form-holder {
  position: relative;
  padding: 20px 30px;
  width: 70%;
  margin: 0px auto;
}
.message-form-holder .container-fluid {
  position: relative;
  top: 20px;
}
.message-form-holder .container-fluid .Info_message {
  font-size: 38px;
  color: #000000;
  font-weight: bold;
  padding-left: 300px;
}
.message-form-holder .form-holder {
  padding: 20px 30px;
  position: relative;
  top: -100px;
}
.message-form-holder .form-holder form .form-group .SideFloat {
  margin-bottom: 15px;
  float: left;
  width: 500px;
}
.message-form-holder .form-holder form .form-group .SideFloatR {
  margin-bottom: 15px;
  float: right;
  width: 500px;
}
.message-form-holder .form-holder form .form-group input {
  border: none;
  background-color: #F1F2F5;
  font-weight: lighter;
  text-transform: uppercase;
  height: 50px;
}
.message-form-holder .form-holder form .form-group textarea {
  height: 300px;
  border: none;
  font-weight: lighter;
  background-color: #F1F2F5;
}
.message-form-holder .form-holder .Btn_send {
  background-color: #ff6600;
  color: #ffffff;
  padding: 10px 20px;
}
#Play_Enel {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 700px;
  float: left;
  width: 100%;
}
#Play_Enel .Support_Info {
  font-size: 35px;
  padding-left: 400px;
  font-weight: bold;
}
#Play_Enel small {
  color: #ffffff;
  font-style: italic;
  font-weight: lighter;
  font-size: 16px;
  position: relative;
  float: left;
  padding-left: 400px;
}
#Play_Enel .All_BTN {
  float: left;
  position: relative;
  width: 60%;
  padding-left: 400px;
  padding-right: 100px;
}
#Play_Enel .All_BTN .Main_Ques {
  float: left;
  width: 100%;
  padding: 11px;
  text-align: left;
  font-size: 20px;
  border-radius: 5px;
  background-color: #ff6600;
  color: #ffffff;
  margin-bottom: 10px;
}
#Play_Enel .All_BTN .Main_Ques .fa-caret-down {
  float: right;
  position: relative;
  right: 20px;
  top: 5px;
}
#Play_Enel .All_BTN .Main_Ques .fa-caret-down:hover {
  cursor: pointer;
}
#Play_Enel .All_BTN .Main_Ques:hover {
  cursor: pointer;
}
#Play_Enel .All_BTN .collapse {
  margin: 10px 30px 5px 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #ffddc6;
}
#Play_Enel .All_BTN .Option1 {
  margin-top: ;
}
#Play_Enel .All_BTN a {
  text-decoration: none;
}
#Play_Enel .All_BTN a .rules_Link {
  background-color: #ff6600;
  color: #ffffff;
  margin-top: 20px;
}
#Play_Enel .All_BTN .rules_Link:hover {
  color: #ff6600;
  background-color: #ffffff;
}
.img-holder-care {
  float: right;
  z-index: 1000;
  position: absolute;
  top: 250px;
  left: 1100px;
}
.the_Faq {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 700px;
  float: left;
  width: 100%;
}
.the_Faq .Faq_Info {
  font-size: 35px;
  padding-left: 400px;
  font-weight: bold;
}
.the_Faq small {
  color: #ffffff;
  font-style: italic;
  font-weight: lighter;
  font-size: 16px;
  position: relative;
  float: left;
  padding-left: 400px;
}
.the_Faq .Faq_holder {
  float: left;
  position: relative;
  padding-left: 300px;
}
.the_Faq .Faq_holder .Faq_Left {
  float: left;
  position: relative;
  left: 100px;
  width: 600px;
}
.the_Faq .Faq_holder .Faq_Left .Main_Faq {
  color: #ffffff;
  font-size: 22px;
  padding-bottom: 30px;
}
.the_Faq .Faq_holder .Faq_Left .Main_Faq:hover {
  cursor: pointer;
}
.the_Faq .Faq_holder .Faq_Left .collapse {
  background-color: #ff6600;
  color: #ffffff;
  padding: 5px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-top: -20px;
  border-radius: 5px;
}
.the_Faq .Faq_holder .Faq_Right {
  float: left;
  position: relative;
  margin-left: 200px;
  width: 600px;
}
.the_Faq .Faq_holder .Faq_Right .Main_Faq {
  color: #ffffff;
  font-size: 22px;
  padding-bottom: 30px;
}
.the_Faq .Faq_holder .Faq_Right .Main_Faq:hover {
  cursor: pointer;
}
.the_Faq .Faq_holder .Faq_Right .collapse {
  background-color: #ff6600;
  color: #ffffff;
  padding: 5px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-top: -20px;
  border-radius: 5px;
}
.the_About {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 700px;
  float: left;
  width: 100%;
}
.the_About .About_Info {
  font-size: 35px;
  padding-left: 400px;
  font-weight: bold;
}
.the_About small {
  color: #ffffff;
  font-style: italic;
  font-weight: lighter;
  font-size: 16px;
  position: relative;
  float: left;
  padding-left: 400px;
}
.the_About .About_info_holder {
  float: left;
  position: relative;
  padding-left: 300px;
}
.the_About .About_info_holder .About_Left {
  float: left;
  position: relative;
  left: 100px;
  width: 600px;
  font-size: 18px;
}
.the_About .About_info_holder .About_Right {
  float: left;
  position: relative;
  margin-left: 200px;
  width: 600px;
}
.the_About .About_info_holder .About_Right .img-holder-enugu {
  position: relative;
  padding: 10px;
  top: -100px;
}
.Result_Big {
  background: url("../images/main_bg.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
  min-height: 700px;
  float: left;
  width: 100%;
}
.Result_Big .Result_logo_text {
  float: left;
  position: relative;
}
.Result_Big .Result_logo_text .history_text {
  font-size: 35px;
  padding-left: 400px;
  font-weight: bold;
  float: left;
  position: relative;
}
.Result_Big .Result_logo_text .history_deadline {
  float: left;
  position: relative;
  font-size: 16px;
  font-style: italic;
  color: #ffffff;
}
.Result_Big .result_table {
  width: 70%;
  padding-left: 400px;
}
.Result_Big .result_table .custom-table .Result-head {
  background-color: #303030;
  padding: 30px 20px;
  border: 5px solid #ff6600;
}
.Result_Big .result_table .custom-table .Result-head tr th {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
.Result_Big .result_table .custom-table .Result_body {
  border: 3px solid #ffddc6;
  background-color: #ffffff;
}
.Result_Big .result_table .custom-table .Result_body .Month_head {
  font-size: 14px;
}
.Result_Big .result_table .custom-table .Result_body tr td {
  padding-bottom: 20px;
  padding-top: 20px;
}
.Result_Big .result_table .custom-table .Result_body tr td span {
  padding: 15px;
  background-color: #ff6600;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  margin-left: 10px;
}
.Mth_Display {
  margin-right: 100%;
  font-weight: bold;
  font-size: 18px;
}
.basic-ish {
  background-color: black;
  color: red;
}
