// Draw detail style
.Result_Details{
	background:url("../images/main_bg.jpg");
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding:100px 0px;
	min-height: 700px;
	float: left;
	width: 100%;

	.Draw-Info-holder{
		float: left;
		position: relative;
		padding: 10px 20px 10px 50px;
		left: 300px;

		.game-logo-holder{
			float: left;
			

			img{
				width: 150px;
				height: 80px;
			}
		}

		.draw-details-holder{
			float: left;
			position: relative;
			padding-left: 20px;
			padding-top: -5px;

			ul{

				.Main_Info{
					font-size: 30px;
					font-weight: bold;
				}

				li{
					list-style-type: none;
					padding: 5px 0px;
				}
			}
		}

		.detail-toggle{
			float: left;
			position: relative;
			width: 600px;
			padding: 20px;

			 ul{
			 	li{
			 		list-style-type: none;
			 		float: left;
			 		position: relative;
			 		display: inline-block;
			 		padding: 10px 30px;
			 		background-color: #f9f9f9;
			 		border-radius: 5px;
			 	}
			 	li:active{background-color: #ff6600;color: #ffffff;}
			 }
		}

		.Winning-num-holder{	
				float: left;
				position: relative;

			label{
				font-size: 20x;
				font-weight: bold;
			}

			.Num_detail-holder{

				span{
					float: left;
					font-size: 20px;
					position: relative;
					padding: 15px;
					border-radius: 50%;
					background-color: #ff6600; 


				}
			}

		}

		.Past-winners{
			float: right;
			position: relative;
			padding-right: 100px;
			width: 300px;
			height: 400px;

			a{
				text-decoration: none;
			}
			a:hover{}
		}

		.bottom-Info{
			float: left;
			position: relative;
			width: 600px;
		}
	}
}










