// How to play style
#Play_Enel{
	background:url("../images/main_bg.jpg");
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding:100px 0px;
	min-height: 700px;
	float: left;
	width: 100%;

	

		.Support_Info{
			font-size: 35px;
			padding-left: 400px;
			font-weight: bold;
		}

		small{
			color: #ffffff;
			font-style: italic;
			font-weight: lighter;
			font-size: 16px;
			position: relative;
			float: left;
			padding-left: 400px;
		}

		.All_BTN{
			float: left;
			position: relative;
			width: 80%;
			padding-left: 400px;
			padding-right: 100px;

			.Main_Ques{
				float: left;
				width: 100%;
				padding: 11px;
				text-align: left;
				font-size: 20px;
				border-radius: 5px;
				background-color: #ff6600;
				color: #ffffff;
				margin-bottom: 10px;

				.fa-caret-down{
					float: right;
					position: relative;
					right: 20px;
					top: 5px;
				}

				.fa-caret-down:hover{cursor: pointer;}
			}

			.Main_Ques:hover{cursor: pointer;}

			.collapse{
				margin:10px 20px 5px 20px;
				padding: 10px;
				border-radius: 5px;
				border: 1px solid #ffffff;
				background-color:#ffddc6;
			}

			.Option1{
				margin-top: ;
			}
				

				.rules_Link{
					text-decoration: none;
					background-color: #ff6600;
					color: #ffffff;
					margin-top: 20px;
					padding: 5px 10px;
					border-radius: 5px;

				}
			.rules_Link:hover{color: #ff6600;background-color: #ffffff;}

		}
	
	
}


.img-holder-care{
	float: right;
	z-index: 1000;
	position: absolute;
	top: 250px;
	left: 1100px;
}



