//Price beakdown style

.Result_Details{
	background:url("../images/main_bg.jpg");
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 50px 0px;
	float: left;
	width: 100%;

		.price-table-holder{
		width: 70%;
		padding-left: 400px;
		padding-top: 220px;


		.custom-table{

			.Result-head{
				background-color: #303030;
				padding: 30px 20px;

				tr{

					th{
						font-size: 18px;
						color: #ffffff;
						font-weight: bold;

					}
				}
			}

			.Result_body{
				background-color: #ffffff;

				.Month_head{
					font-size: 14px;
				}

				.total_row{
					font-weight: bolder;
					font-size: 18px;
				}

				tr{


					td{
						padding-bottom: 20px;
						padding-top: 20px;

						span{
						padding: 15px;
						background-color: #ff6600;
						color: #ffffff;
						font-size: 20px;
						font-weight: bold;
						border-radius: 50%;
						margin-left: 10px;
						}
					}

				}
			}
		}

	}

}

	.Banner_Long{
		border-radius: 10px;
			float: right;
			position: relative;
			top: -500px;
			left: -200px;
			width: 300px;
			height: 400px;

			.Info_Long{
				background-color: #ff0000;
				position: relative;
				padding: 20px;
				width: 350px;
				height: 500px;
				margin-bottom: 20px;
				text-align: center;

				.BannerTop{
					text-decoration: none;

					.banner_Info{
						padding: 5px;
						text-align: center;

						.Banner_Top_text{
							font-size: 18px;
							position: relative;
							color: #000000;
							margin-left: -150px;
						}

						.BText_Huge{
							text-align: center;
							color: #000000;
							font-size: 60px;
							position: relative;
							top: -15px;

						}

						.Extra_Info{
							font-size: 14px;
							color: #000000;
							position: relative;
							top: -25px;
							left: -40px;
						}

						.Banner_Logo_holder{

						}

						i{
							padding: 20px 40px;
							opacity: 0.8;
							border-radius: 2px;
							background-color: #ffffff;
							color: #ff6600;
							font-weight: bold;
							font-size: 18px;
							position: relative;
							top: 30px;
						}
						i:hover{color: #ffffff;background-color: #ff0000;opacity: 1.0;border: 1px solid #ffffff;}
					}
				}
				.banner_Info:hover{color: #ffffff;}
			}

			
		}

	

	.bottom-Info-Price{
			float: left;
			position: relative;
			top: -10px;
			left: 400px;
			width: 700px;

			.Claim_Btn{
				text-decoration: none;
				color: #ffffff;
				padding:5px 15px;
				background-color: #ff0000;
				border-radius: 5px;
			}
	}










